{% extends '::base.html.twig' %}

{% block title %}Domaine {{ vigneron.nom }}{% endblock %}

{% block login %}
	{{ include('MeVendangesBundle:Vendangeurs:connexion.html.twig') }}
{% endblock %}

{% block sousheader %}
	{{ include('MeVendangesBundle:Vendangeurs:sousheader.html.twig') }}
{% endblock %}

{% block motdepasse %}{% endblock %}

{% block body %}

<div style='display:none'>
	<div id="reponse" rel="reponse">
		<div class="fermeture"><a  href="#">X</a></div>
		<h2 id="nom">CONTACTER</h2>
		<div class="formulaire">
			<form id="form" action="" method="post">

			<input type="submit" text="Envoyer">
			</form>
		</div>
	</div>
</div>

<div id="page">
	{% for flash in app.session.flashbag.get('notice') %}
		<div class="alert">{{ flash }}</div>
	{% endfor %}

	<div id="profilvigneron">
		<h1>Domaine {{ vigneron.nom }}</h1>
		<h3>Présentation : </h3>
		<p>{{ vigneron.presentation }}</p>
		<p>{{ vigneron.adresse }}</p>
		<h3>Coordonnées :</h3>
		<p>{{ vigneron.code }} {{ vigneron.ville }}</p>
		<p>{{ vigneron.site }}</p>
	</div>

	{% if annonces is not empty %}
		<h2>Les annonces du domaine {{ vigneron.nom }}</h2>
	{% endif %}

<!-- début annonces-->
	<div id="annonces">

		

		{% if app.user and app.user.roles[0] == 'ROLE_VENDANGEUR' %}
			{% for annonce in annonces %}
				{% if annonce.active %}
				<div class="blocannonce" data-id="{{ loop.index }}" data-ville="{{ annonce.vigneron.ville }}" data-logement="{{ annonce.logement ? 1 : 0 }}" data-code="{{ annonce.vigneron.code|slice(0, 2) }}">
					<a href="{{ path('vendanges_vendangeurs_repondre_annonce', {'id': annonce.id}) }}"><div class="blocannonceover"></div></a>
					<span class="titreannonce">{{ annonce.titre }}</span>
					Dates de début : {{ annonce.dateDebut | date('d/m/Y') }}<br />
					Dates de fin : {{ annonce.dateFin | date('d/m/Y') }}<br />
					Logement : {{ annonce.logement ? 'OUI' : 'NON' }}<br />
					Nourri  : {{ annonce.repas ? 'OUI' : 'NON' }}<br />
					Salaire : {{ annonce.remuneration }}
					</span>
				</div>
				{% else %}
				<div class="blocannonce complet" data-id="{{ loop.index }}" data-ville="{{ annonce.vigneron.ville }}" data-logement="{{ annonce.logement ? 1 : 0 }}" data-code="{{ annonce.vigneron.code|slice(0, 2) }}">
					<a href="{{ path('vendanges_vendangeurs_repondre_annonce', {'id': annonce.id}) }}"><div class="blocannonceovercomplet">OFFRE COMPLETE</div></a>
					<span class="titreannonce">{{ annonce.titre }}</span>
					Dates de début : {{ annonce.dateDebut | date('d/m/Y') }}<br />
					Dates de fin : {{ annonce.dateFin | date('d/m/Y') }}<br />
					Logement : {{ annonce.logement ? 'OUI' : 'NON' }}<br />
					Nourri  : {{ annonce.repas ? 'OUI' : 'NON' }}<br />
					Salaire : {{ annonce.remuneration }}
					</span>
				</div>
				{% endif %}
			{% endfor %}
		{% else %}
			{% for annonce in annonces %}
				{% if annonce.active %}
				<div class="blocannonce" data-id="{{ loop.index }}" data-ville="{{ annonce.vigneron.ville }}" data-logement="{{ annonce.logement ? 1 : 0 }}" data-code="{{ annonce.vigneron.code|slice(0, 2) }}">
					<a href="#"><div class="blocannonceover incliquable"></div></a>
					<span class="titreannonce">{{ annonce.titre }}</span>
					Dates de début : {{ annonce.dateDebut | date('d/m/Y') }}<br />
					Dates de fin : {{ annonce.dateFin | date('d/m/Y') }}<br />
					Logement : {{ annonce.logement ? 'OUI' : 'NON' }}<br />
					Nourri  : {{ annonce.repas ? 'OUI' : 'NON' }}<br />
					Salaire : {{ annonce.remuneration }}
					</span>
				</div>
				{% else %}
				<div class="blocannonce complet" data-id="{{ loop.index }}" data-ville="{{ annonce.vigneron.ville }}" data-logement="{{ annonce.logement ? 1 : 0 }}" data-code="{{ annonce.vigneron.code|slice(0, 2) }}">
					<a href="#"><div class="blocannonceovercomplet">OFFRE COMPLETE</div></a>
					<span class="titreannonce">{{ annonce.titre }}</span>
					Dates de début : {{ annonce.dateDebut | date('d/m/Y') }}<br />
					Dates de fin : {{ annonce.dateFin | date('d/m/Y') }}<br />
					Logement : {{ annonce.logement ? 'OUI' : 'NON' }}<br />
					Nourri  : {{ annonce.repas ? 'OUI' : 'NON' }}<br />
					Salaire : {{ annonce.remuneration }}
					</span>
				</div>
				{% endif %}
			{% endfor %}
		{% endif %}

	</div>
	<!--//annonces-->   
</div>
<!--/page-->
{% endblock %}